<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakash.assignmentone">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_alarm_24"
        android:label="Reminder"
        android:roundIcon="@drawable/ic_baseline_alarm_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentOne">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>