<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aakash.assignmentone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_alarm_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_alarm_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentOne"
        tools:ignore="AllowBackup">
        <activity android:name=".AboutAppActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".broadcastForReminder"
            android:exported="true">
        </receiver>
    </application>

</manifest>